#testimonials{
    
    .container{ 

        .testimonials-cards{
            @include flex(space-between,stretch,30px,row);
            padding-top: 80px;  
            

            .card{
                
                flex: 1 0 calc(50% - 30px);
                background-color: white;
                min-width: 350px;

                @include responsive(mobile){
                    flex: 1 0 100%;
                 min-width: 100%;
                }

                .comment{
                    padding: 50px;
                    @include responsive(tablet){
                        padding:40px;
                    }
                    @include responsive(mobile){
                        padding: 30px;

                    }
                }

                .info{
                    padding: 30px 50px;

                    @include flex(space-between,center,20px,row);

                    @include responsive(tablet){
                        padding: 40px;
                    }
                    @include responsive(mobile){
                        padding: 30px;
                        @include flex(flex-start,center,20px,row);
                    }
                    .user{
                        @include flex(flex-start,center,20px,row);
                      
                        img{
                            width: 60px;
                            height: 60px;
                            object-fit: cover;
                            border-radius: 8px;
                        }

                        .name-text{
                            font-weight: 600;
                        }
                    }
                }
            }
        }
    }
}