#pricing {
    .container {
        .pricing-card-wrap {
            background-color: white;
            @include flex(space-between, center, 30px, row);
            
            padding: 80px;
 margin-top: 50px;
            @include responsive(tablet){
                padding: 50px;
            };
            
            @include responsive(mobile){
                padding: 20px
            };
           
            .pricing-card {
                flex: 1 0 calc(50% - 50px);
                min-width: 300px;
                @include flex(center,stretch,50px,column);
                border-radius: 12px;
                border:
                    1px solid,
                    #f1f1f3;
                     background: #fcfcfd;
                     padding: 50px 30px 30px 30px;

                     @include responsive(tablet){
                        padding: 40px 14px 24px 14px;

                        @include flex(center,center,30px,column);
                     }

                     @include responsive(mobile){
                        padding: 40px 14px 24px 14px;
                        min-width: 100%;
                        
                     }

                     .pricing-card-header{
                       
                        @include flex(center,stretch,50px,column);
                        text-align: center;

                        @include responsive(tablet){
                            gap: 30px;
                        }
                        p{
                            
                            font-weight: 500;
                            line-height: 169%;
                            border: 1px solid #FFEACC;
                            background-color: #FFF9F0;
                        }
                     }

                     .pricing-card-body{
                        padding: 30px;
                        background-color: white;
                        @include flex(auto,auto,50px,column);
                        @include responsive(mobile){
                            padding: 10px;

                        }
                        p{
                            text-align: center;
                        }

                        .pricing-list{
                            padding: 24px 30px 0px 30px ;
                            @include flex(auto,auto,20px,column);
                            @include responsive(tablet){
                                padding: 10px 5px;
                            }

                            li{
                                @include flex(auto,center,12px,row);
                                border: 1px solid #F1F1F3;
                                flex-wrap: nowrap;
                                padding: 14px;
                                border-radius: 8px;

                                @include responsive(tablet){

                                  
                        gap: 2px;
                                }

                                i{
                                    
                                    padding: 6px;
                                    border-radius: 6px;
                                }
                                .fa-check{
                                    background-color: #FFF4E5;

                                }
                                .fa-xmark{
                                    border: 1px solid #F1F1F3;
                                }
                                p{
                                    @include responsive(tablet){
                                        font-size: 14px;
                                    }
                                }
                            }
                        }
                     }
            }
        }
    }
}
