$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 992px;

$primary-color:#FF9500;
$black:#1A1A1A;

$white:#fff;
$grey-15:#262626;
$grey-10:#1A1A1A;
$grey-30:#4C4C4D;
$grey-35:#59595A;
$grey-20:#333333;
$grey-40:#656567;

$text-18:18px;
$h1:48px;
$h3:38px;
$h2:80px;
$section-tag:48px;

